/* inter-200 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/inter-v12-cyrillic_latin-200.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter-v12-cyrillic_latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-cyrillic_latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v12-cyrillic_latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v12-cyrillic_latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-cyrillic_latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter';
  font-style: normal;
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
  color: #000000;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}


/* header styles start*/

.header {
  background-color: #FFFFFF;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 2;
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 31px;
  padding-bottom: 28px;
  border-bottom: 1px solid #272727;
}

.header_nav {
  display: flex;
  height: 50px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 9px;
}

.header_item {
  margin-right: 20px;
}

.header_link {
  font-weight: 400;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.header_item:last-child {
  margin-right: 128px;
}

.header_item:first-child {
  margin-left: 80px;
}




.header_link:hover,
.header_link:focus,
.header_link:active {
  opacity: .75;
}


.soc_med_list {
  display: flex;
  flex-wrap: wrap;
}

.soc_med_item {
  margin-right: 18px;
}

.soc_med_item:last-child {
  margin-right: 34px;
}

.soc_med_link:hover,
.soc_med_link:focus,
.soc_med_link:active {
  opacity: .75;
}

.btn_fbk {
  font-size: 10px;
  font-weight: 600;
  width: 120px;
  height: 40px;
  border: 2px solid #D9D9D9;
  border-radius: 4px;
  background-color: #FFFFFF;
  justify-self: left;
}

.btn_fbk:hover,
.btn_fbk:focus,
.btn_fbk:active {
  background-color: #D9D9D9;
}

/* header styles finish*/



/* intro styles start*/

.intro {
  margin-top: 109px;
  border-bottom: 1px solid #000000;
  margin-bottom: 40px;
}

.first_column {
  width: 700px;

}

.second_column {
  width: 700px;
}

.intro_title {
  font-weight: 700;
  font-size: 90px;
  line-height: 109px;
  display: flex;
  flex-direction: column;
  padding: 60px 0 70px 0;
  border-bottom: 1px solid #272727;
}

.und_ttl {
  font-weight: 700;
  font-size: 50px;
  line-height: 60.51px;
}

.intro_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  height: 800px;
}


.intro_subtitle {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  padding: 19px 0 19px 78px;
  border-bottom: 1px solid #272727;
}

.sub-sub_title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 50px 0 30px 78px;
}

.questions {
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 300px;
  height: 56px;
  background: #8E8E8E;
  margin: 0 0 0 78px;
  border: 0;
}

.second_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  height: 800px;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
}

.title_about {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  padding: 100px 0 60px 99px;
}

.desctription_about {
  padding: 0 0 0 99px;
  width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

/* intro styles finish*/




/* news styles start*/

.chat_in_phone {
  background-color: #D9D9D9;
  height: 930px;
  margin-bottom: 80px;
}

.phone_with_chat {
  width: 375px;
  height: 812px;
  margin: 59px 0 59px 445px;
}

.news_part {
  height: 738px;
  border-bottom: 1px solid #272727;
  margin-bottom: 50px;
}

.our_news {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  margin-bottom: 60px;
}

.gray_rec {
  margin-bottom: 22px;
}

.main_text_under_rec {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 9px;
}

.text_under_rec {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 600px;
}

.sec_col_news {
  margin-top: 27px;
}

.table_of_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.unit_of_block {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 320px;
  margin-bottom: 50px;
}

.third_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.title_of_unit_news {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 9px;
}

.read_more {
  width: 320px;
  height: 56px;
  background: #8E8E8E url(../img/arrow.svg) no-repeat 220px;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 18px 112px 19px 68px;
  cursor: pointer;
}

.read_more:hover {
  opacity: .75;
}

/* goals styles start*/

.goals_part {
  height: 800px;
}

.fourth_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  height: 800px;

}

.img_goals {
  margin-top: 266px;
}

.grey_column {
  background: #F5F5F5;
  width: 700px;
  height: 800px;
}

.our_goals {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #000000;
  padding: 100px 0 60px 99px;

}

.description_goals {
  padding: 0 0 0 99px;
  width: 601px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

/*goals styles stop*/



/* small mercy block */


.mercy {
  padding-bottom: 50px;
  margin-bottom: 80px;
  border-bottom: 1px solid #000000;
}


.mercy-text {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}



.assistant {
  border-bottom: 1px solid #272727;
  margin-bottom: 70px;
}

.block_of_questions_from_you {
  max-width: 480px;
  margin-left: 78px;
}

.questions_from_you {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  margin-bottom: 60px;
}

.current_questions {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.question {
  margin-bottom: 25px;
}

.question:last-child {
  margin-bottom: 0;
}

.sixth_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  height: 547px;
  position: relative;
}

.hands {
  margin-left: 213px;
  position: absolute;
  z-index: 1;

}

.guide {
  width: 559px;
  height: 224px;
  border: 3px solid #B6B6B6;
  padding: 85px 84px 66px 85px;
  margin-left: 603px;
  margin-top: 368px;
  position: absolute;
  top: 0;
  left: 0;
}

.guide:hover {
  cursor: pointer;
  opacity: .75;
}

.guide_text {
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.arrow_long {
  margin-left: 115px;
}

.application_form {
  height: 800px;
  background-color: #F2F2F2;
  z-index: 1;
  position: relative;
  padding: 100px 120px;
  margin-bottom: 30px;
}

.header_form {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  margin-bottom: 80px;
}

.field {
  width: 645px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #101E0F;
  margin-bottom: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #8E8E8E;
  padding: 0;
  padding-bottom: 4px;
}

.inputs {
  margin-bottom: 40px;
}

.agreement {
  font-family: 'Inter';
  height: 32px;
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #101E0F;
  user-select: none;
  padding-left: 96px;
  margin-bottom: 54px;

}

.agreement input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  background-color: #FFFFFF;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.agreement:hover input~.checkmark {
  background-color: #ccc;
}

.agreement input:checked~.checkmark:after {
  display: block;
}

.agreement .checkmark:after {
  left: 12px;
  top: 5px;
  width: 10px;
  height: 20px;
  border: solid rgb(0, 0, 0);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.submit_form {
  width: 277px;
  height: 82px;
  left: 123px;
  top: 581px;
  background: #F2F2F2;
  border: 1px solid #252525;
  border-radius: 4px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #101E0F;
}


/* tasks styles start*/
.tasks {
  border-bottom: 1px solid #272727;
  margin-bottom: 50px;
}

.fifth_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  height: 800px;
  margin-bottom: 60px;

}

.our_tasks {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #000000;
  padding: 100px 0 60px 99px;
}

.description_tasks {
  padding: 0 0 0 99px;
  width: 601px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.img_tasks {
  margin-top: 266px;
  float: right;
}

/* tasks styles stop*/

/* footer styles start*/
.last_wrapper {
  padding-left: 120px;
}

.footer {
  top: 0%;
  width: 100%;
}

.footer_wrapper {
  padding-top: 50px;
  padding-bottom: 98px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_us {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact_us:last-child {
  margin-right: 60px;
}

.contact_us:first-child {
  margin-left: 80px;
}

.mail_link {
  width: 199px;
  height: 19px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 40px;
}

.mail_link:link {
  text-decoration: none;
}

.mail_link:visited {
  text-decoration: none;
}

.mail_link:hover {
  text-decoration: underline;
}

.mail_link:active {
  text-decoration: underline;
}

.med_link:hover,
.med_link:focus,
.med_link:active {
  opacity: .75;
}

.med_list {
  display: flex;
  flex-wrap: wrap;
}

.med_item {
  margin-right: 18px;
}

.btn_gmail {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  width: 199px;
  height: 19px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

}

.footer_logo {
  display: flex;
  height: 50px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer_nav {
  display: flex;
  height: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_list {
  display: flex;
  padding-top: 9px;
  padding-bottom: 161px;
}

.footer_item {
  font-family: Inter;
  height: 19px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  margin-right: 50px;
}

/* footer styles stop*/